body {
  font-family: sans-serif;
  font-weight: 400;
  height: 50vh;
  color: rgb(255, 255, 255);
  background-color: #4b9619;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: 50px;
}

table {
  border: 2px, solid black;
  max-width: 500px;
}

.table-header {
  max-width: 500px;
  padding: 10px;
  margin-left: auto;
}

.expense-table {
  border: 2px, solid black;
}

.expense-list {
  display: flex;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}
